/* Color Palette
https://colorhunt.co/palette/222831393e4600adb5eeeeee
#222831 - color 1
#393E46 - color 2
#00ADB5 - color 3
#EEEEEE - color 4
*/

/* Global styles 
------------------------------------*/
body {
  /* background: #4e6e81; */
  color: #222831;
}

/* Header & Footer 
------------------------------------*/
header,
footer {
  background-color: #393e46;
  color: #eeeeee;
}

/* Work Experience
------------------------------------*/
main {
  background-color: #00adb5;
}

/* Education
------------------------------------*/
